body {
    display: inline-block;
}

#layout {
    display: flex;
}

.black_square{
    width: 70px;
    height: 70px;
    background-color: rgba(77, 47, 27, 0.781);


}
.white_square{
    width: 70px;
    height: 70px;
    background-color: rgba(224, 214, 207, 0.781);


}
#chess_board{
    background-color: black;
    border: 18px solid rgb(107, 86, 28);

}

#rim{
    background-color: gold;
    padding: 4px;
    width: 604px;
    border: solid 1px black;
}

.pawn_black {
    background-image: url("../images/pawn_black.png");
    background-repeat: no-repeat;
    background-position: center
}
.rook_black {
    background-image: url("../images/rook_black.png");
    background-repeat: no-repeat;
    background-position: center
}

.knight_black {
    background-image: url("../images/knight_black.png");
    background-repeat: no-repeat;
    background-position: center
}

.bishop_black {
    background-image: url("../images/bishop_black.png");
    background-repeat: no-repeat;
    background-position: center
}

.king_black {
    background-image: url("../images/king_black.png");
    background-repeat: no-repeat;
    background-position: center
}

.queen_black {
    background-image: url("../images/queen_black.png");
    background-repeat: no-repeat;
    background-position: center
}

.pawn_white {
    background-image: url("../images/pawn_white.png");
    background-repeat: no-repeat;
    background-position: center
}
.rook_white {
    background-image: url("../images/rook_white.png");
    background-repeat: no-repeat;
    background-position: center
}

.knight_white {
    background-image: url("../images/knight_white.png");
    background-repeat: no-repeat;
    background-position: center
}

.bishop_white {
    background-image: url("../images/bishop_white.png");
    background-repeat: no-repeat;
    background-position: center
}

.king_white {
    background-image: url("../images/king_white.png");
    background-repeat: no-repeat;
    background-position: center
}

.queen_white {
    background-image: url("../images/queen_white.png");
    background-repeat: no-repeat;
    background-position: center
}
#opening_match {
    color: black;
    width: 667px;
}
#opening_title {
    height: 95px;
    width: 336px;
    text-align: center;
    color: white;
    margin-top: 1%;
    margin-left: 10%;
    padding: 2%;
    background: purple;
    border: solid 3px gold;
    font-weight: bold;
    font-size: 36px;
}

#opening_title_line {
    position: relative;
    top: 8%;
}

#opening_desc {
    height: 153px;
    width: 336px;
    text-align: center;
    color: black;
    margin-top: 1%;
    margin-left: 10%;
    padding: 2%;
    border: solid 3px saddlebrown;
    background: beige;
    font-weight: bold;
    font-size: 36px;
    vertical-align: middle;
}

#opening_desc_line {
    vertical-align: center;
}